html {
    background: #FFFFFF;
}

body { 
    margin: 0;
}

section h1 {
    color: #FFFFFF;
    font: bold 45px 'Roboto Slab', serif;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    letter-spacing: 3px;
}

h2 {
    color: #000000;
    font: bold 25px 'Ubuntu', sans-serif;
}

section h3 {
    font: bold 20px 'Ubuntu', sans-serif;
    color: #FFFFFF;
    text-shadow: 0 0 30px rgb(0, 0, 0);
    letter-spacing: 2px;
}

p, table, .numberText, .captionText, .copyrightText {
    font: normal 17px 'Ubuntu', sans-serif;
    color: #000000;
}

.align {
    padding: 0.5% 7% 3% 7%;
}

.align2, .carousel {
    padding: 3% 7% 0 7%;
}

.align3 {
    padding: 0 3%;
}

.align4 {
    padding: 3% 6% 0 6%;
}

* {box-sizing: border-box;}

/* Style the top nagivation bar */
.topnav {
    overflow: hidden;
    background-color: #162A30;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    padding: 1%;
    z-index: 1;
}

.topnav a {
    float: left;
    display: block;
    padding: 1%;
    text-decoration: none;
    line-height: 25px;
}

/* Style the logo */
.logo {
    color: #FFFFFF;
	font: normal 36px 'Secular One', sans-serif;
}

.topnav h3 {
    padding: 0;
    margin: 0;
}

/* Float the links to the right */
.topnav-right {
    float: right;
}

/* Styles the links in the top nav */
.topnav-right a, .dropDown .dropBtn {
    color: #FFFFFF;
    font: normal 18px 'Open Sans', sans-serif;
    padding: 13px 12px;
}

/* Change the top nav links background colour on mouse-over */
.topnav a:hover, .dropDown:hover .dropBtn, .dropBtn:focus, .logo a:hover {
    background-color: #DDDDDD;
    color: #000000;
    border-radius: 4px;
    transition-duration: 0.4s;
}

/* Style the dropdown menu in the topnav */
.dropDown {
    float: left;
    overflow: hidden;
}

.dropDown .dropBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F0F0F0;
  min-width: 21%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #000000;
  padding: 5%; 
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

/* Style the dropdown menu on mobile phones */
.icon {
    font-size: 30px;
    cursor: pointer;
    color: #FFFFFF;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #162A30;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    font-size: 60px;
    top: 10px;
    right: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
}

.overlay-content a, .overlay-content .dropdown-btn {
    padding: 2%;
    text-decoration: none;
    font: normal 25px 'Open Sans', sans-serif;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.overlay-content a:hover, .overlay-content .dropdown-btn:hover {
    background-color: #DDDDDD;
    color: #000000;
}

.overlay-content .dropdown-btn {
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
}

.dropdown-container {
    display: none;
    background-color: #DDDDDD;
}

.dropdown-container a {
    color: #000000;
    font-size: 20px;
}

.dropdown-container a:hover {
    background-color: #2E5763;
    color: #FFFFFF;
}

/* Add an active class to highlight the current page */
.topnav a.active, .footer-links a.active {
    text-decoration: underline;
    font-weight: bold;
}

/* Style the headers on each page */
.headerBox {
    background: no-repeat;
    background-size: 100% auto;
    margin: 0;
    padding: 10% 3%;
    width: 100%;
    text-align: center;
    background-position: center;
}

.headerBox2 {
    padding: 11.5% 3%;
}

.headerBox3 {
    padding: 12% 3%;
}

.intro {
    padding-top: 2%;
}

#homeHeader {
    background-image: url(homeHeader.jpg);
}

#classroomsHeader {
    background-image: url(classroomsHeader.jpg);
}

#technologyHeader {
    background-image: url(technologyIssuesHeader.jpg);
}

#printingHeader {
    background-image: url(printingHeader.jpg);
}

#wifiPasswordHeader {
    background-image: url(wifiPasswordHeader.jpg);
}

#schoolTipsHeader {
    background-image: url(schoolTipsHeader.jpg);
}

#studyTipsHeader {
    background-image: url(studyTipsHeader.jpg);
}

#lifeTipsHeader {
    background-image: url(lifeTipsHeader.jpg);
}

#thingsToDoHeader {
    background-image: url(thingsToDoHeader.jpg);
}

/* Style the Google map and the school introduction on the Homepage */
article {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    column-count: 2;
    text-align: left;
    padding: 3% 0 2% 7%;
}

.map-responsive {
    overflow: auto;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#about {
   padding: 0 13% 0 0;
}

#about p {
    line-height: 120%;
}

/* Style the slideshow on the Homepage */
.myslides, .mySlides1, .mySlides2 {display: none}
.slideshow-container img {vertical-align: middle; width: 100%;}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1.5%;
    margin-top: -3%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: #DDDDDD;
    color: #000000;
}

.prev:hover {
    border-radius: 0 35px 35px 0;
}

.next:hover {
    border-radius: 35px 0 0 35px;
}

/* Style the slideshow image text overlay on the each page */
.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 35px;
    text-shadow: 0 0 35px rgb(0, 0, 0);
    color: #FFFFFF;
}

/* The dots/bullets/indicators */
.dotLine {
    text-align:center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #BBBBBB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotLine .active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Style the timetable on the homepage */
table {
    border-collapse: collapse;
    background-color: #FFFFFF;
    border: 3px solid #B8A282;
    text-align: center;
    width: 100%;
}

td,th {
    border: 1px solid #C9BBA3;
    padding: 1%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style 2020 Term Dates and Dean Contacts on the Homepage*/
.column {
    float: left;
    width: 50%;
    padding: 0 7%;
}

.column p {
    line-height: 150%;
}

.column a {
    color: #62A5A7;
}

/* Style the back-to-top button and prev & next page buttons on Technology Issue pages and School Tips pages */
#topBtn, .prevPageBtn, .nextPageBtn {
    border: none; 
    outline: none;
    cursor: pointer; 
    border-radius: 100%;
}

#topBtn {
    display: none; 
    position: fixed; 
    bottom: 3%; 
    right: 2%; 
    z-index: 99;
    background-color: #A0E0F9;
    opacity: 0.5;
    padding: 1.5%;
}

.prevPageBtn, .nextPageBtn {
    margin: 0 2% 2% 0;
    background-color: #55CCFB;
    padding: 2%;
}

.prevPageBtn {
    float: left;
}

.nextPageBtn {
    float: right;
}

.upArrow, .prevPageArrow, .nextPageArrow {
    border: solid #000000;
    border-width: 0 5px 5px 0;
    display: block;
    padding: 10px;
}

.upArrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

#topBtn:hover {
    opacity: 1;
}

.prevPageArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.nextPageArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.prevPage {
    padding-left: 1%;
}

.prevPage a, .nextPage a {
    text-decoration: none;
}

.prevPage h2, .nextPage h2 {
    margin: 2%;
}

.prevPage h2:hover, .nextPage h2:hover {
    color: #92999F;
    text-decoration: underline;
}

.nextPage h2 {
    float: right;
}

.column2 {
    width: 50%;
    float: left;
}

/* Style the slideshow image text overlay on the Classroom page */
.column2 .centeredText {
    top: 44%;
}

/* Style the two column slideshows on the Classrooms page */
.column4 {
    padding: 2% 2% 2% 4%;
}

.column5 {
    padding: 2% 4% 2% 2%;
}

.column2 .prev, .column2 .next {
    margin-top: -5.5%;
}

#tipsPrevBtn, #tipsNextBtn {
    top: 40%;
}

#tipsNextBtn {
    right: 7%;
}

/* Number text (1/5 etc) */
.numberText, .copyrightText {
    color: #FFFFFF;
    font-weight: bold;
    position: absolute;
    text-shadow: 0 0 3px rgb(0, 0, 0);
}

.numberText {
    font-size: 30px;
    padding: 0.2% 2.3%;
}

.column2 .numberText {
    padding: 3%;
    margin: 0;
}

/* Indicate the source of the photo that was not shot by my own */
.copyrightText {
    font-size: 22px;
    top: 4%;
    right: 6%;
    text-align: right;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #162A30;
    padding: 0.2% 1%;
}

.tips {
    color: #FFFFFF;
    font-size: 22px;
}

.tipsText {
    padding: 2%;
}

/* Five columns side by side */
.column3 {
    float: left;
    width: 20%;
}

/* Add a transparency effect for thumnbail images on School Tips pages */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

#prevBtn {
    margin-left: 2%;
}

#nextBtn {
    margin-right: 2%;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin: 2%;
}

.content h2 {
    font-weight: normal;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: #8B4513;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline img {
    width: 100%;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #FFFFFF;
  border: 4px solid #FF9F55;
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #FFE4C4;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #FFE4C4;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #FFE4C4;
  border-width: 10px 10px 10px 0;
  border-color: transparent #FFE4C4 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #FFE4C4;
  position: relative;
  border-radius: 6px;
}

/* Style the footer */
footer {
	bottom: 0;
    overflow: hidden;
    background-color: #162A30;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	width: 100%;
	text-align: left;
	padding: 2% 1%;
	margin-top: 2%;
}

.footer-column {
    width: 33.3%;
    padding: 0 3%;
}

.logo a {
    text-decoration: none;
    color: #FFFFFF;
}

footer h3 {
	padding: 0;
    margin-top: 4%;
}

.footer-bio, .footer-copyright {
    font-size: 14px;
}

.footer-bio {
	line-height: 20px;
	color: #92999F;
	margin-top: -4%;
}

.footer-copyright {
	color: #FFFFFF;
	margin-top: 2%;
}

.footer-links .footer-heading {
    font-weight: bold;
    font-size: 18px;
}

.footer-links {
	margin: 0 5%;
	padding: 0;
    list-style: none;
}

.footer-links p, .footer-links a {
    font: normal 15px 'Open Sans', sans-serif;
    color: #FFFFFF;
}
 
.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
}

#footer-pageLinks {
    padding-left: 10%;
}

.footer-links a:hover {
    color: #92999F;
}

/* Add an active class to highlight the current page */
.topnav a.active, .footer-links a.active {
    text-decoration: underline;
    font-weight: bold;
}




/* Changes to be made when the screen size is less than 801px */
@media screen and (max-width: 801px) {
    /* Make the fonts smaller */
    .banner1 {
        font-size: 26px;
    }
    
    section h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .content h2 {
        font-size: 18px;
    }
    
    .align3 h2, .align4 h2 {
        font-size: 16px;
        margin: 1.5%;
    }
    
    section h3 {
        font-size: 15px;
    }
    
    p, table {
        font-size: 14px;
    }
    
    /* Change multiple columns to one column */
    .column, .column2 {
        width: 100%;
    }
    
    .column4, .column5 {
        padding: 0.5% 7% 3% 7%;
    }
    
    /* Style the top nav on mobile phones */
    .topnav {
        padding: 2% 1%;
    }
    
    /* Make the logo smaller */
    .logo {
        font-size: 28px;
    }
    
    .topnav a {
        padding: 2.5%;
    }
    
    /* Hide the top nav links */
    .topnav-right {
        display: none;
    }
    
    /* Show the mobile dropdown menu icon */
    .icon {
        float: right;
        padding: 0.5% 1%;
        display: block;
    }
    
    /* Resize the header background images */
    .headerBox {
        padding: 6%;
    }
    
    .headerBox2 {
        padding: 10%;
    }
    
    .headerBox3 {
        padding: 8%;
    }
    
    /* Change the About Westlake section on the Homepage to one column */
    article {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -ms-column-count: 1;
        column-count: 1;
        padding-right: 5%;
    }
    
    #about {
        padding: 0;
    }
    
    #about p {
        line-height: 150%;
    }
    
    #topBtn {
        padding: 3.5%;
    }
    
    .prevPageBtn, .nextPageBtn {
        padding: 1.5%;
    }
    
    .upArrow {
        padding: 7px;
    }
    
    .prevPageArrow, .nextPageArrow {
        padding: 5px;
    }
    
    .dot {
        width: 12px;
        height: 12px;
    }
    
    .centeredText {
        font-size: 22px;
        top: 45%;
    }
    
    /* Resize the Technology Issuses main pages' slideshow fonts to make them fit to the slideshow size */
    .text1 {
        font-size: 20px;
    }
    
    .text2 {
        font-size: 18px;
    }
    
    .numberText {
        font-size: 16px;
    }
    
    .prev, .next {
        font-size: 30px;
        margin-top: -7%;
        padding: 3%;
    }
    
    .column2 .prev, .column2 .next {
        margin-top: -7.5%;
    }
    
    #prevBtn, #nextBtn {
        display: none;
    }
    
    .timeline {
        margin: 5% 0;
    }
    
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
  
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
  
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid bisque;
        border-width: 10px 10px 10px 0;
        border-color: transparent bisque transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
  
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
    
    .content {
        padding: 2% 7% 6% 7%;
    }
    
    .tips {
        font-size: 16px;
    }
    
    .copyrightText {
        font-size: 11px;
        padding: 1% 2%;
    }
    
    .caption-container {
        padding: 0.2% 3%;
    }
    
    footer .logo {
        font-size: 25px;
    }
    
    #footer-webInfor {
        margin: 1%;
    }
    
    #footer-pageLinks, #footer-schoolContact {
        padding: 0;
        margin: 1%;
    }
    
    #footer-schoolContact {
        margin-bottom: 10%;
    }
    
    .footer-links p, .footer-links a, .footer-bio, .footer-copyright {
        font-size: 12px;
    }
    
    .footer-links .footer-heading {
        font-size: 14px;
    }
}

/* Change to be made when the screen size is greater than 800px */
@media screen and (min-width: 800px) {
    /* Hide the mobile dropdown menu icon on desktops */
    .icon, a.closebtn {
        display: none;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    #about p {
        line-height: 90%;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1700px) {
    #about p {
        line-height: 150%;
    }
}

@media screen and (min-width: 1700px) {
    #about p {
        line-height: 200%;
    }
}